body {
    background-color: black;
    color: yellow
}

button {
    margin: 5em;
    background-color:tomato;
    color:black;
}

button:hover {
    transition: ease-in .5s;
    background-color: blue;
    box-shadow: crimson 0em 0em 2em;
}